*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

/* Début de la première page index en css */

.logoentete{
    height: 20px;
    width: 35px;
    
}

.navbar{
    width: 100%;
    background: #0f2243;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color: white;
    position: fixed;
       
}

.navbar a:hover{
    text-decoration: underline;
    font-weight: bold;
    
}

.navbar a{
    color: white;
}

.navbar a:active{
    color: #3dbaf3;
    font-weight: bold;
}

.navlogo, .logoentete{
    display: flex;
    margin-right: 10px;
}

.logoentete{
    margin-left: 150px;
}

.navbar, .menu-droite ul {
    display: flex;
    color: white;
}

.menu-droite, ul, li{
    margin: 0 25px;
    
}

.header{
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center; 
    padding: 20px 0 10px 0;
    text-align: center;
    height: 200px;
    margin:20px 0 40px 0;
     
}

.header p{
    font-size: 1.1em;
    margin-bottom: 35px;
    
}

.header a{
    border-radius: 12px;
    background-color: #df2385;
    color: white;
    padding:10px;
    font-size: 1.3em;
    box-shadow: 2px 2px 6px rgb(22, 21, 21);
    
}

.header a:hover{
    color: white;
    background-color: #3dbaf3;
    font-weight: bold;
}

.titre{
    margin:20px 0;
}

.section1{
    width: 100%;
    background-color: #eeee;
    padding: 15px 0 ;
}

.imgtxt{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px auto ;
    max-width: 1100px;
    text-align: justify;    
}

.txt {
    width: 50%;
}

.txt h2{
    margin-bottom: 10px;
}

.cimg .img{
    width: 50%;
}

.section2{
    width: 100%;
    margin: 20px auto;
    text-align: justify;
    max-width: 1100px;
}

.footer{
    display: flex;
    background-color: #0f2243;
    height: 150px;
    width: 100% ;
    color: white;
    align-items: center;
    
}

.txtfooter{
    width: 80%;
    margin: 0 auto;
}

/* Fin de la première page index en css */

/* Début de la deuxième page communauté en css */



.flex-comm{
    background-color: #eeee;

}

.communaute{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}


.txtcom{
    width: 60%;
    
}

.txtcom h2{
    margin-bottom: 10px;
}

.img-pyton{
    width: 40%;
    margin-left: 200px ;
    
}

.flex-membre{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
        
}

.imgmembre{
    width: 40%;
    margin: 0 auto;
}

.photom{
    width: 250px;
    height: 250px;
    border: #3dbaf3;
    border-radius: 50%;
}




/* Fin de la deuxième page Communauté en css */

/* Début de la troisème page cours en css */


.flexbox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    width: 100%; 
    margin:10px auto;
    max-width: 1300px;
       
}

.flexbox-item{
    width: 330px;
    height: 300px;
    margin:15px;
    overflow: hidden;
    flex-shrink: 0;
}

.flexbox-item .img-logo{
    width: 300px;
    height: 240px;
    margin: 3px 25px;
    box-shadow: -1px 1px 4px rgb(22, 21, 21);
    
}

.flexbox-item .text{
    margin: 5px 25px;  
}

.paracours{
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 30px auto 0px;
}

.seceng{
    background-color: #eeee;
        
}

.boitelettre{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1600px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    
}


.boitegauche{
    width: 55%;
    padding-left: 20px;
}


.txtemail{
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #d8d8d8;
    border: none;
    padding-left: 10px;
    
}

.btneng{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #df2385;
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
}

/* fin de la troisième page Cours en css */

/* Début de la quatrième page index en css */

.contacter{
    width: 70%;
    margin: 20px auto 50px auto;
}

.contacter p{
    margin-top: 10px;
}

.champl1{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.champl2{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.champtext{
    height: 40px;
    width: 400px; 
    border: none;
    padding-left: 10px;
    border-radius:8px;
    background-color: rgb(205, 205, 207);
    color: black;
    font-size: 1em;
    margin: 5px 0 20px 0;
    outline: none;
}

.textarea{
    border: none;
    padding-left: 10px;
    border-radius:8px;
    background-color: rgb(205, 205, 207);
    color: black;
    font-size: 1em;
    width: 30%;
    margin: 5px 100px 0 200px;
    outline: none;
    padding: 5px;
    height: 150px;

}

.label{
    width: 30%;
    margin: 0 100px 0 200px;
    
}


.envoiebtn{
    height: 30px;
    width: 200px; 
    border-radius:10px;
    margin-top: 10px;
    border: none;
    background-color: #df2385;;
    color: white;
    font-size: 1em;
    margin: 15px 100px 35px 100px;

}

.textarea:hover,.champtext:hover{
    background-color: rgb(235, 235, 239);
}

.textarea:focus,.champtext:focus{
    border: 1px solid rgb(205, 205, 207);
    background-color: rgb(236, 236, 255);
}

.btn:hover, .envoiebtn:hover{
    background-color: #3dbaf3;
    color: white;
    font-weight: bold;
}









