*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: black;
    list-style-type: none;
}

.contener{
    width: 900px;
    margin: 0 auto;
}

.section{
    padding: 50px 0px;
}

.mar-t-10{
    margin-bottom: 10px;
}

.mar-t-20{
    margin-bottom: 20px;
}

.mar-t-40{
    margin-bottom: 40px;
}

.btn{
    border-radius: 8px;
    background-color: #D72385;
    padding: 8px 15px;
    color: #ffff;
    padding: 8px 15px;
}

.btn2{
    
    border-radius: 8px;
    background-color: #D72385;
    border: #D72385;
    color: #ffff;
    font-weight: bold;
    width:70% ;
    padding: 8px 15px;
}

.btn.link{
    text-decoration: none;
}

.al-center{
    text-align: center;
}

.navigation{
    background-color: #0f2243;
    padding: 8px 0;

}

.navigation .contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.navigation img{
    width: 70px;
    margin-right: 10px;
}

.navigation .menu{
    display: flex;
    
}

.navigation .menu-item{
    display: inline;
    padding: 0 8px;
}

.navigation .menu-item.active{
    font-weight: bold;
    border-bottom: 2px solid #ffff;
    padding-bottom: 5px;
}

.section.header{
    text-align: center;
}

.section.learn{
    background-color: #eee;
}

.section.learn .contener{
    display: flex;
    align-items: center;
}

.section.learn img{
    width: 350px;
}

.section.learn .bloc-item{
    width: 50%;
}

footer{
   background-color: #0f2243; 
   padding: 50px 0;
   color: #fff;
}

.section.membres .contener{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;   
}

.contener .img-membre img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.membres h3{
    text-align: center;
    margin-top: 20px;
}

.sectmembres{
    width: 900px;
    margin: 0 auto 40px auto;
}

.contener .flexbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.flexbox .flexbox-item .img-logo{
    width: 280px;
    height: 300px;
    border: 1px solid #0f2243; 
}

.contener .boitelettre{
    display: flex;
    
}

.boite-item{
    width: 50%;
}

.boite-item.al-center{
    display: inline;
    text-align: right;
}

.boite-item.al-center .txtemail{
    margin: 0 0 10px 0;
    width: 70%;
    padding: 12px 0px 12px 15px ;
    border-radius: 8px;
    border: #D8D8D8;
    background-color:#D8D8D8 ;
}

.section.boite{
    background-color: #eee;
}


.contener .champs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.champs .champtext{
    margin-top: 5px; 
    width: 100%;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    background-color: #D8D8D8;
    border: #D8D8D8;
    
}

.textarea{
    background-color: #D8D8D8;
    border: #D8D8D8;
    resize: none;
    outline: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin: 5px 0px 20px 0;
}

.btn3{
    border-radius: 8px;
    background-color: #D72385;
    border: #D72385;
    color: #ffff;
    font-weight: bold;
    width:45% ;
    padding: 8px 15px;
}













